# Node.js
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Hide encrypted uploads from Github
encrypted_uploads/

# One time dev script (do NOT upload to GitHub)
CreateAdmin.ts