# Node.js
node_modules/
dist/
.env
backend/node_modules/
frontend/node_modules/

# Python ML service
__pycache__/
*.pyc
MlService/.venv/
MlService/.env
MlService/ML/model.joblib

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Hide encrypted uploads from Github
encrypted_uploads/

# One time dev script (do NOT upload to GitHub)
CreateAdmin.ts